**/chatbot_training_and_implementation/RC_2015-01
**/chatbot_training_and_implementation/2015-01.db
**/chatbot_training_and_implementation/test.from
**/chatbot_training_and_implementation/test.to
**/chatbot_training_and_implementation/train.from
**/chatbot_training_and_implementation/train.to
**/chatbot_training_and_implementation/training_data.zip
**/chatbot_training_and_implementation/testing_data.zip
