body {
  background-color: black;
}
.button {
  background-color: #659dbd;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button4 {
  border-radius: 12px;
}
.square {
  height: auto;
  width: auto;
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
  background-color: #000000;
  font-size: 1.2em;
  border: 0;
  color: #ffffff;
}

#jumbo_1 {
  background-color: black;
}

#about {
  margin-top: 5%;
}

#education {
  margin-top: 2.5%;
}
#about_header {
  margin-top: -2%;
}

#edu_images {
  width: 200px;
  height: 200px;
}
#main_logo {
  width: 69%;
  height: 69%;
}

#main_img {
  margin-top: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
}

#main1_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  margin-top: 20px;
}

#sublogos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5%;
}

#sublogo1 {
  display: inline;
}
#sublogo2 {
  display: inline;
  margin-left: 40px;
  margin-right: 10px;
}

#slides {
  height: 75%;
  width: auto;
}
#carousel_0 {
  position: center;
  height: 100px;
  width: 100%;
  top: 50%;
  bottom: 50%;
  margin-top: -50px;
  margin-bottom: -50px;
  right: 50%;
  left: 2.5%;
}

#carousel_1 {
  position: center;
  height: 100px;
  width: 100%;
  top: 50%;
  bottom: 90%;
  margin-top: 10px;
  margin-bottom: -50px;
  right: 50%;
  left: 2.5%;
}

#carousel_2 {
  position: center;
  height: 100px;
  width: 100%;
  top: 10%;
  bottom: 50%;
  margin-top: -50px;
  margin-bottom: -50px;
  right: 50%;
  left: 2.5%;
}
